extends layout
block content

  script.
    function executeCommandLine(type)
    {
      let urlTest = ""
      let methodT = "POST";
      if(type=="testSend"){
        urlTest = "/sendTestMessage"
      }
      if(type=="checkForMessages"){
         urlTest = "/checkMessages"
         methodT = "GET";
      }
        $.ajax({
          url: urlTest,
          method: methodT,
          dataType: 'json',
          cache: false,
          success: function(data){
            console.log(data);
            $('#resultsDisplay').html(data["message"]);
           }
        }); 
    }

   
  h1= title
  p Welcome to #{title} push notification test page
  p My Hub Service: #{hubService} <-Thats an object, IDK what to show yet
  button(onclick="executeCommandLine('testSend')") Test Send Message
  br
  br
  button(onclick="executeCommandLine('checkForMessages')") Check for messages
  br
  br
  //button(onclick="executeCommandLine('testSend')") Test Send Message
  br
  br
  //button(onclick="executeCommandLine('testSend')") Test Send Message
  br
  br
  div(style='outline:2px solid black; padding: 10px;', id='resultsDisplay') Results Display
